.location-info {
    display: flex;
    align-items: center;

}
.city {
    font-size: 24px;
    font-weight: 500;
}

.location {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .location-info {
        font-size: 20px;

    }
    .city {
        font-size: 20px;
    }
    
    .location {
        font-size: 20px;
    }


}